
<!doctype html>


<link href="/static/css/main.css" rel="stylesheet">
<html lang = "ja">
  <head>

    <meta charset = "utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

<body class = "text-center">
  <h1>ゲームボックス</h1>
  <p>計算タイムアタック</p>
  <form action = "/mathgame" method = "get">
    <input type = "submit" value = '計算ゲーム'>
  </form>
</body>




<script>
  $(function(){
    // ここにプログラムを記述

  });
</script>
