<!doctype html>


<link href="/static/css/main.css" rel="stylesheet">
<html lang = "ja">
  <head>

    <meta charset = "utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

<body class = "template">
  <h1>ゲームボックス</h1>

  <form action = "/mathgame_home" method = "get">
    <input type = "submit" value = '計算タイムアタック'>
  </form>

  <br>

  <button type="button" onclick="location.href='https://bonnoublog.com/'">私のブログはこちらから！</button>

</body>




<script>
  $(function(){
    // ここにプログラムを記述

  });
</script>
