<!doctype html>


<link href="/static/css/main.css" rel="stylesheet">
<html lang = "ja">
  <head>

    <meta charset = "utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

<body class = "template">
  <h1>計算タイムアタック</h1>
  <p>名前を入力してスタート！</p>
  <form action="/mathgame" method="get">
    <input type="名前" name="name" autofocus>
    <button type="submit">スタート</button>
  </form>
  <p>ホーム画面に戻るには下のボタンをクリック</p>
  <form action = "/home" method = "get">
    <input type = "submit" value = 'ホームに戻る'>
  </form>
</body>




<script>
  $(function(){
    // ここにプログラムを記述

  });
</script>
